:root {
  --primary: #af69cf; /* Mauve discret */
  --secondary: #5f9ea0; /* Turquoise moyen */
  --accent: #b08ea2; /* Violet pâle */
  --gray-1: #20232a; /* Gris foncé */
  --gray-2: #efefef; /* Gris clair */
  --font-family: "Montserrat", sans-serif;
  --box-shadow: 0 6px 9px 0 rgb(0 0 0 / 15%);
  --box-shadow-nav: rgb(0 0 0 / 22%) 0px 2px 18px 0px;
  --text-color: #191970;
}
